<app-header></app-header>
<section>
    <div class="news_container">
        <div class="news_heading">
            <h1>NEWS</h1>
        </div>
        <a routerLink="/news-details">
            <div class="news_card" style="margin-top: 35px;">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <a routerLink="/news-details">
            <div class="news_card">
                <div class="text_info">
                    <h2 style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore magni praesentium. Accusamus ...... click to read more
                    </p>
                    <p><i><small>01-01-2022</small></i></p>
                </div>
                <img src="assets/images/harold_bluetooth.jpeg" alt="">
            </div>
        </a>
        <br>
        <br>
        <!-- <a href="">
            <div class="news_card next">
                <span>Next</span>
            </div>
        </a> -->
    </div>
</section>


<app-footer></app-footer>