section {
    background-color: rgb(10, 10, 10);
}

.news_container {
    padding-top: 20px;
}

.news_heading {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 700px;
    height: 150px;
    padding: 10px;
    padding-top: 2px;
    margin: auto;
    display: flex;
    background: rgb(49, 47, 47);
    color: rgb(243, 237, 237);
}

.text_info {
    padding-left: 10px;
}

img {
    border-radius: 5px;
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.next {
    height: 30px;
    color: rgb(243, 237, 237);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* for mobile phones */
    .news_card {
        width: 100%;
        height: 150px;
    }
    .next {
        height: 20px;
        width: 100%;
    }
}