<header>
    <div class="header">
        <div class="container logo head">
            <div class="row justify-content-md-center">
              <div class="col col-lg-3">
                <img class="main-logo" src="assets/images/main-logo.png" alt="">
            </div>
        </div>
       </div>
       <!-- <button class="navbar-toggler hamburger justify-content-md-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="menu">
        <button id="navButton" (click)="navBtn1()" class="hamburger">
            <i class="fa fa-bars"></i>
          </button>
      </div>
      
    
      <div class="container-fluid navigation hide" id="navigation">
            <nav class="nav">
                <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" routerLink="">Home</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/review">Review</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/games">Games</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/news">News</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/videos">Videos</a>
                <div >
                  <a (click)='onClick()' id="searchIcon" class="flex-sm-fill text-sm-center nav-link"><i class="fas fa-search"></i></a>
                  <div id="searchInput">
                    <input class="search" type="text">
                  </div>
                </div>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/login">Login</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/sign-up">Sign Up</a>
                
                
              </nav>
              
              
        </div>
  </div>
</header>