<header>
    <div class="logo-div">
        <img class="logo" src="assets/images/main-logo.png" alt="GAMEFLEX LOGO">
    </div>
   <nav class="nav">
       <ul class="nav-links">
           <li class="nav-link">Home</li>
           <li class="nav-link">About Us</li>
           <li class="nav-link">News/Blog</li>
           <li class="nav-link">Videos</li>
           <li class="nav-link">Reviews</li>
       </ul>
       <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit"><i class="material-icons">search</i></button>
      </form>
       <ul class="auth">
            <li class="nav-link right">Sign Up</li>
            <li class="nav-link right">Login</li>
       </ul>
   </nav>
   
</header>
