body {
    padding: 0;
    margin: 30px;
    display: flex;
}

.main-review {
    width: 60%;
    margin-right: 20px;
}


.tooltiptext {
    background: #f8f8f8;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    visibility: hidden;
}
.sortBtn {
    display: flex;
}
.sort {
    width: 50%;
    font-size: 20px;
}
.add-review-btn {
    font-size: 20px;
}

.add-review-btn a i {
    padding: 10px;
    font-size: 30px;
    color: black;
}

.add-review-btn:hover .tooltiptext {
    visibility: visible;
}
#comment-width {
    width: 90%;
    word-wrap: break-word;
}
.review-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
.review-image {
    float: left;
}
.review-image img {
    width: 100px;
    margin-right: 10px;
}
.review-content {
    /* margin-left: 10px; */
}

.right {
    /* float: right; */
    display: flex;
}
.right h6{
    margin-right: 20px;
}
.border-bottom {
    border-bottom: 2px solid black;
}

.side-bar {
    width: 35%;
    background: #f8f8f8;
}
.find-review h3 {
    text-align: center;
}
.find-review button {
    /* margin: auto; */
}
.sorts {
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.sorts label {
    width: 100%;
}

.latest-features {

}
.feature-title {
    float: left;
}
.feature-image {
    float: left;
}
.feature-image img{
    width: 20%;
}

.recommend {
    
}

.recommendation {
    display: flex;
    justify-content: space-evenly;
}