body {
    padding: 0;
    margin: 30px;
    display: flex;
}

.main-review {
    width: 60%;
    margin-right: 20px;
}


.tooltiptext {
    background: #f8f8f8;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    visibility: hidden;
}
.sortBtn {
    display: flex;
}
.sort {
    width: 50%;
    font-size: 20px;
}
.add-review-btn {
    font-size: 20px;
}

.add-review-btn a i {
    padding: 10px;
    font-size: 30px;
    color: black;
}

.add-review-btn:hover .tooltiptext {
    visibility: visible;
}
#comment-width {
    width: 90%;
    word-wrap: break-word;
}

.right {
    float: right;
    display: flex;
}

.side-bar {
    width: 35%;
    background: #f8f8f8;
}

.most-review {

}

.recommend {
    
}

.recommendation {
    display: flex;
    justify-content: space-between;
}