<app-header></app-header>

<body>
    <div class="main-review">
        <div class="container sortBtn">
            <div class="sort">
                <label for="games">Sort By:</label>

                <select id="games">
                    <option value="latest">Latest</option>
                    <option value="popular">Popular</option>
                </select>
            </div>
            <div class="add-review-btn">
                <a routerLink="/add-review"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <span class="tooltiptext">Add Review</span>
            </div>
       </div>
       <hr>
        <div class="review-section">
            <div class="review-box container">
                    <h6>Game name / Username</h6>
                    <p id="comment-width">Lorem ipsum dolor sit amet 
                        consectetur  adipisicing elit. Soluta culpa magni
                        repudiandae aliquid ea aliquam, quod accusantium 
                        modi commodi ab est reiciendis vitae dolorem 
                        illum! Recusandae doloremque amet cum?
                    </p>
                    <div class="">
                        <h6><i class="fas fa-clock"></i>Time Posted:</h6>
                    </div>
            </div>

        </div>
        <div class="review-section">
            <div class="review-box container">
                <h6>Game name / Username</h6>
                <p id="comment-width">Lorem ipsum dolor sit amet 
                    consectetur  adipisicing elit. Soluta culpa magni
                    repudiandae aliquid ea aliquam, quod accusantium 
                    modi commodi ab est reiciendis vitae dolorem 
                    illum! Recusandae doloremque amet cum?
                </p>
                <div class="">
                    <h6><i class="fas fa-clock"></i>Time Posted:</h6>
                </div>
            </div>

        </div>
        <div class="review-section">
            <div class="review-box container">
                <h6>Game name / Username</h6>
                <p id="comment-width">Lorem ipsum dolor sit amet 
                    consectetur  adipisicing elit. Soluta culpa magni
                    repudiandae aliquid ea aliquam, quod accusantium 
                    modi commodi ab est reiciendis vitae dolorem 
                    illum! Recusandae doloremque amet cum?
                </p>
                <div class="">
                    <h6><i class="fas fa-clock"></i>Time Posted:</h6>
                </div>
            </div>

        </div>
        <div class="review-section">
            <div class="review-box container">
                <h6>Game name / Username</h6>
                <p id="comment-width">Lorem ipsum dolor sit amet 
                    consectetur  adipisicing elit. Soluta culpa magni
                    repudiandae aliquid ea aliquam, quod accusantium 
                    modi commodi ab est reiciendis vitae dolorem 
                    illum! Recusandae doloremque amet cum?
                </p>
                <div class="">
                    <h6><i class="fas fa-clock"></i>Time Posted:</h6>
                </div>
            </div>

        </div>
        <div class="review-section">
            <div class="review-box container">
                <h6>Game name / Username</h6>
                <p id="comment-width">Lorem ipsum dolor sit amet 
                    consectetur  adipisicing elit. Soluta culpa magni
                    repudiandae aliquid ea aliquam, quod accusantium 
                    modi commodi ab est reiciendis vitae dolorem 
                    illum! Recusandae doloremque amet cum?
                </p>
                <div class="">
                    <h6><i class="fas fa-clock"></i>Time Posted:</h6>
                </div>
            </div>

        </div>
        <div class="review-section">
            <div class="review-box container">
                <h6>Game name / Username</h6>
                <p id="comment-width">Lorem ipsum dolor sit amet 
                    consectetur  adipisicing elit. Soluta culpa magni
                    repudiandae aliquid ea aliquam, quod accusantium 
                    modi commodi ab est reiciendis vitae dolorem 
                    illum! Recusandae doloremque amet cum?
                </p>
                <div class="">
                    <h6><i class="fas fa-clock"></i>Time Posted:</h6>
                </div>
            </div>

        </div>
    </div>
    <div class="side-bar">
        <div class="">
            <h3>Find Reviews</h3>
        </div>
        <div class="most-review">
            <h3>Most Reviewed Games</h3>
        </div>
        <div class="recommend">
            <h3>GameFlex Recommendations</h3>

        </div>
    </div>
</body>

<app-footer></app-footer>
