<app-header></app-header>

<body>

    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                    
                    <div class="form-group">
                        <label for="name"><i class="fas fa-user"></i></label>
                        <input formControlName="username" [class.is-invalid]="signUpForm?.get('username')?.invalid && signUpForm?.get('username')?.touched" type="text" name="username" placeholder=" Username..">
                        <div>
                            <small [class.d-none]="signUpForm?.get('username')?.valid || signUpForm?.get('username')?.untouched" class="text-danger" >Username is required</small>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i></label>
                        <input [class.is-invalid]="signUpForm?.get('email')?.invalid && signUpForm?.get('email')?.touched" formControlName="email" type="email" name="email" placeholder=" Email..">
                        <div *ngIf="signUpForm?.get('email')?.invalid && signUpForm?.get('email')?.touched"> 
                            <small class="text-danger" *ngIf="signUpForm?.get('email')?.errors?.required">Email is required</small> 
                            <small class="text-danger" *ngIf="signUpForm?.get('email')?.errors?.email">Email is invalid</small> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="fas fa-lock"></i></label>
                        <input [class.is-invalid]="signUpForm?.get('password')?.invalid && signUpForm?.get('password')?.touched" formControlName="password" type="password"  required="" id="id_password1" placeholder=" Enter Password..">
                        <div *ngIf="signUpForm?.get('password')?.invalid && signUpForm?.get('password')?.touched"> 
                            <small class="text-danger" *ngIf="signUpForm?.get('password')?.errors?.required">Password is required</small> 
                            <small class="text-danger" *ngIf="signUpForm?.get('password')?.errors?.minlength">Password is invalid</small> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="fas fa-lock"></i></label>
                        <input formControlName="confirmPassword" type="password" name="password2" required="" id="id_password2" placeholder=" Re-enter Password..">
                    </div>
                    <div class="form-group form-button">
                       
                        <button [disabled]="!signUpForm?.valid" class="form-submit" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>

            

            <div class="signup-image">
                <figure><img src="assets/images/signup-image.jpg" alt="Register image"></figure>
                <a routerLink="/login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</body>

<app-footer></app-footer>