<app-header></app-header>

<section>
    <div class="details_container">
        <div class="details_heading">
            <h1>NEWS DETAILS</h1>
        </div>
        <div class="details_body">
            <div class="details_main">
                <img class="image_heading" src="assets/images/harold_bluetooth.jpeg" alt="">

                <div class="details_content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus deserunt repudiandae corrupti dolorem veritatis delectus mollitia eius vel neque tempore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam facilis natus accusamus atque sit consequuntur nobis, veritatis tenetur eum, quod fuga? Illum inventore facilis culpa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum qui a vel animi alias nisi tempora optio, obcaecati voluptate! Aliquid tempora voluptatem praesentium ipsam sit modi non, eaque voluptates mollitia?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic eligendi nostrum nemo ex labore tenetur autem fuga fugit, unde obcaecati suscipit sapiente reiciendis. Molestias voluptates, optio voluptatem deleniti dolor omnis totam
                        odio unde a aliquid recusandae. Assumenda sint ipsum, esse non veniam sequi repellat molestias! Architecto deserunt, optio maiores, non ex iure tempora quisquam eos quos sequi necessitatibus laudantium laborum!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ut aut qui nulla dicta, totam dolore sint! Nostrum, dolorem odio! Voluptatum temporibus nam sequi laudantium aut voluptates, reiciendis sint. Minima tempora repudiandae
                        consequuntur quos atque! Libero numquam, voluptas, inventore modi pariatur distinctio dolorem, rem dolor eos maxime illum autem totam.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod consectetur sit quisquam illum quo cupiditate quos, quia distinctio vero repudiandae assumenda, magnam atque perferendis aspernatur nihil, nobis quibusdam similique optio
                        amet est enim esse tenetur asperiores. Sequi consequatur iusto deleniti eligendi molestiae praesentium quis sunt, maiores fugit voluptatem, similique impedit repudiandae, aperiam nulla exercitationem voluptates ipsum error totam
                        quas reprehenderit enim magni nobis expedita. Quae in dignissimos quos, consequuntur ullam maiores ea aliquid eum optio itaque excepturi ipsum repellendus sit voluptates similique blanditiis, aut quis, doloribus illo placeat! Dolore
                        consectetur recusandae porro reprehenderit aperiam odit, illo voluptate nihil voluptatem harum?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid beatae ipsam doloremque odio nisi dolore soluta sit! Est eligendi laudantium deleniti voluptate quaerat impedit nisi quasi magnam ipsam aut, tempore explicabo
                        quas cupiditate excepturi? Molestiae tenetur ex at doloremque, exercitationem libero placeat accusamus voluptas totam nobis praesentium, sapiente ut dicta quod! Illum voluptates nam impedit repellendus quo. Veniam, libero.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum facere tempora rem quo. Mollitia totam tempora perferendis beatae deleniti praesentium reprehenderit voluptatem repellat odit impedit quam maiores, eos ullam obcaecati
                        quia suscipit. Laudantium, dolore aliquam! Voluptatem adipisci vel id rem libero vitae debitis accusamus neque, culpa facere velit voluptatum doloribus deleniti labore facilis, quia, odit eum accusantium qui corrupti tenetur veritatis
                        deserunt possimus esse! Illo maxime sit magni neque consectetur?</p>
                </div>
            </div>
            <div class="other_news">
                <h1 style="margin-left: 15%;">Other news</h1>
                <div>
                    <a href="/news-details">
                        <div class="news_card">
                            <div class="text_info">
                                <p style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></p>
                                <p>Lorem ipsum dolor sit amet. ...... click to read more
                                </p>
                                <i><small>01-01-2022</small></i>
                            </div>
                            <img class="img" src="assets/images/harold_bluetooth.jpeg" alt="">
                        </div>
                    </a>
                </div>
                <br>
                <a href="/news-details">
                    <div class="news_card">
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></p>
                            <p>Lorem ipsum dolor sit amet. ...... click to read more
                            </p>
                            <i><small>01-01-2022</small></i>
                        </div>
                        <img class="img" src="assets/images/harold_bluetooth.jpeg" alt="">
                    </div>
                </a>
                <br>
                <a href="/news-details">
                    <div class="news_card">
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></p>
                            <p>Lorem ipsum dolor sit amet. ...... click to read more
                            </p>
                            <i><small>01-01-2022</small></i>
                        </div>
                        <img class="img" src="assets/images/harold_bluetooth.jpeg" alt="">
                    </div>
                </a>
                <br>
                <a href="/news-details">
                    <div class="news_card">
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></p>
                            <p>Lorem ipsum dolor sit amet. ...... click to read more
                            </p>
                            <i><small>01-01-2022</small></i>
                        </div>
                        <img class="img" src="assets/images/harold_bluetooth.jpeg" alt="">
                    </div>
                </a>
                <br>
                <a href="/news-details">
                    <div class="news_card">
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong><i>Gaming is Fun</i></strong></p>
                            <p>Lorem ipsum dolor sit amet. ...... click to read more
                            </p>
                            <i><small>01-01-2022</small></i>
                        </div>
                        <img class="img" src="assets/images/harold_bluetooth.jpeg" alt="">
                    </div>
                </a>
                <br>

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>