<app-header></app-header>
<div class="container feed">
    <h1>NEWS FEED</h1>
  </div>
  
  <div class="newsFeed">
    <div class="flex-container mainFeed">
        <div class="mainFeed1">
            <img class="main-images" src="assets/images/ps4-pad.jpg" alt="">
        </div>
        <div class="mainFeed1">
            <img class="main-images" src="assets/images/two-players.jpg" alt="">
        </div>
    </div>
    
    <br>
    <div class="smallnews">
        <div class="sn-card">
            <div class="text-over">
              <img class="image" src="assets/images/playstation.jpg" alt="PLAY">
              <div class="bottom-left">
                  <a class="sn-cardlink" href="#">
                      <p>Games</p>
                  </a>
                  <a class="sn-cardlink" href="#">
                      This is a particular game link
                  </a>
              </div>
            </div>
        </div>
        <div class="sn-card">
          <div class="text-over">
            <img class="image" src="assets/images/playstation.jpg" alt="PLAY">
            <div class="bottom-left">
                <a class="sn-cardlink" href="#">
                    <p>Games</p>
                </a>
                <a class="sn-cardlink" href="#">
                    This is a particular game link
                </a>
            </div>
          </div>
      </div>
      <div class="sn-card">
          <div class="text-over">
            <img class="image" src="assets/images/playstation.jpg" alt="PLAY">
            <div class="bottom-left">
                <a class="sn-cardlink" href="#">
                    <p>Games</p>
                </a>
                <a class="sn-cardlink" href="#">
                    This is a particular game link
                </a>
            </div>
          </div>
      </div>
      <div class="sn-card">
          <div class="text-over">
            <img class="image" src="assets/images/playstation.jpg" alt="PLAY">
            <div class="bottom-left">
                <a class="sn-cardlink" href="#">
                    <p>Games</p>
                </a>
                <a class="sn-cardlink" href="#">
                    This is a particular game link
                </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="mid-section">
      <div class="main-mid">
          <div class="row">
              <p class="col-1"><a href="">Popular</a></p>
              <p class="col-1"><a href="">Recent</a></p>
              <p class="col-1"><a href="">Updated</a></p>
          </div>
          <div class="tabs"> <!--Popular, Recent Upadted -->
              <div class="popular-main">
                  <div class="popular">
                      <div class="midsec-text">
                          <h6>Review</h6>
                          <h3 class="midsec-name">The Flash</h3>
                          <div class="icon-text">
                              <!-- <i class="material-icons icon">schedule</i> -->
                              <i class="fas fa-clock"></i>
                              <p class="icon-before">The Amount of time from present day</p>
                          </div>
                      </div>
                      <div class="midsec-image">
                          <img class="img-size" src="assets/images/free-picture2.jpg" alt="">
                      </div>
                  </div>
                  <div class="popular">
                      <div class="midsec-text">
                          <h6>Review</h6>
                          <h3 class="midsec-name">The Flash</h3>
                          <div class="icon-text">
                              <!-- <i class="material-icons icon">schedule</i> -->
                              <i class="fas fa-clock"></i>
                              <p class="icon-before">The Amount of time from present day</p>
                          </div>
                      </div>
                      <div class="midsec-image">
                          <img class="img-size" src="assets/images/free-picture2.jpg" alt="">
                      </div>
                  </div>
                  <div class="popular">
                      <div class="midsec-text">
                          <h6>Review</h6>
                          <h3 class="midsec-name">The Flash</h3>
                          <div class="icon-text">
                              <!-- <i class="material-icons icon">schedule</i> -->
                              <i class="fas fa-clock"></i>
                              <p class="icon-before">The Amount of time from present day</p>
                          </div>
                      </div>
                      <div class="midsec-image">
                          <img class="img-size" src="assets/images/free-picture2.jpg" alt="">
                      </div>
                  </div>
                  <div class="popular">
                      <div class="midsec-text">
                          <h6>Review</h6>
                          <h3 class="midsec-name">The Flash</h3>
                          <div class="icon-text">
                              <!-- <i class="material-icons icon">schedule</i> -->
                              <i class="fas fa-clock"></i>
                              <p class="icon-before">The Amount of time from present day</p>
                          </div>
                      </div>
                      <div class="midsec-image">
                          <img class="img-size" src="assets/images/free-picture2.jpg" alt="">
                      </div>
                  </div>
                  <div class="popular">
                      <div class="midsec-text">
                          <h6>Review</h6>
                          <h3 class="midsec-name">The Flash</h3>
                          <div class="icon-text">
                              <!-- <i class="material-icons icon">schedule</i> -->
                              <i class="fas fa-clock"></i>
                              <p class="icon-before">The Amount of time from present day</p>
                          </div>
                      </div>
                      <div class="midsec-image">
                          <img class="img-size" src="assets/images/free-picture2.jpg" alt="">
                      </div>
                  </div>
                  <div class="popular">
                      <div class="midsec-text">
                          <h6>Review</h6>
                          <h3 class="midsec-name">The Flash</h3>
                          <div class="icon-text">
                              <!-- <i class="material-icons icon">schedule</i> -->
                              <i class="fas fa-clock"></i>
                              <p class="icon-before">The Amount of time from present day</p>
                          </div>
                      </div>
                      <div class="midsec-image">
                          <img class="img-size" src="assets/images/free-picture2.jpg" alt="">
                      </div>
                  </div>
                  <div class="btn-sec">
                      <button class="button">SHOW MORE</button>
                  </div>
              </div>
              
          </div>
      </div>
          
      <div class="side-mid">
          <div class="upcoming">
              <h4>Upcoming Games</h4>
              <ol>
                  <li class="side-border">Put it to you</li>
                  <li class="side-border">Open Up</li>
                  <li class="side-border"> Mr Rice Ball</li>
                  <li class="side-border">Dr. Surgeon</li>
                  <li class="side-border">Apocalypse</li>
                  <li class="side-border">Drip or Drop</li>
              </ol>
              <button class="side-btn">Show All Upcoming Games</button>
          </div>
          <div class="top-rated">
              <h4>Top Rated</h4>
              <ol>
                  <li class="side-border">Fifa 22</li>
                  <li class="side-border">2K22</li>
                  <li class="side-border">WWE 18</li>
                  <li class="side-border">FAR CRY 3</li>
                  <li class="side-border">BATMAN RISES</li>
                  <li class="side-border">DEF JAM</li>
              </ol>
              <button class="side-btn">Show Top Rated Games</button>
          </div>
      </div>
  </div>


    
<app-footer></app-footer>