.newsFeed {
    width: 100%;
}

.mainFeed {
    display: flex;
    justify-content: center;
    /* height: 500px; */
}
.mainFeed1 {
    background-color: #f1f1f1;
    margin: 10px;
}
.main-images {
    
}

.smallnews {
    display: flex;
}
.sn-card {
    width: 300px;
    height: 254px;
    position: relative;
    text-align: center;
    color: white;
    text-align: left;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.image {
    width: 300px;
    height: 254px;
}
/* .sn-cardlink {
    text-decoration: none;
} */

.mid-section {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.main-mid {
    width: 65%;
    position: relative;
}

.tabs {
    padding-right: 50px;
}
.popular-main {
    display: grid;
}
.popular {
    padding: 20px;
    border-bottom: 1px solid black;
}
.midsec-text {
    float: left;
    line-height: 140%;
}
.midsec-image {
    float: right;
}
.icon-text {
    display: flex;
}
.img-size {
    width: 100px;
    height: 100px;
}
.buttonsec {
    position: absolute;
    left: 50%;
}
.side-mid {
    background-color: #C1C0C0;
    width: 35%; 
}
.side-border {
    line-height: 75px;
}
.upcoming{
    margin-bottom: 50px;
    text-align: center;
}
.upcoming-btn {
    text-decoration: underline;

}
.top-rated{
    text-align: center;
}
