<app-header></app-header>

<section>
    <div class="contact-main">
        <div class="img-section">
            <img src="assets/images/contact-us.jpg" alt="" class="contact-img">
        </div>

        <div class="contact-section">
            <h1>Contact Us</h1>
            <div class="border-section">
                <form action="#0">
                    <div class="info">
                        <input type="text" name="fName" placeholder="Full Name"><br>
                        <input type="email" name="Email" placeholder="E-mail"><br>
                        <input type="text" name="Message" placeholder="Message"><br>
                        <br>

                        <button>Contact Us</button>
                    </div>
                </form>

                <div class="words">
                    <p><span class="h3"><strong>Contact</strong></span> <br>gameflex@email.com</p>
                    <br>
                    <p><span class="h3"><strong>Based in</strong></span> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, quis?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>