<app-header></app-header>

<div class="main">
    <div class="about">

        <span class="a">
            <h1>About</h1>
            <h1>Us</h1>
        </span>

        <div class="texts">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique mollitia fuga tempore, officiis, officia modi dolores vero enim veritatis ullam cupiditate delectus sed, repellat odio distinctio reprehenderit sit in quam!
        </div>

        <button class="learn-btn"><strong>Learn More</strong></button>

    </div>

    <div class="img">
        <img class="img" src="assets/images/about-img.png" alt="">
    </div>
</div>

<app-footer></app-footer>