<app-header></app-header>

<section>
    <div class="videos_container">
        <div class="videos_heading">
            <h1>VIDEOS</h1>
        </div>
        <div class="videos_body">
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="videos_card">
                        <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/ffcitRgiNDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="text_info">
                            <p style="text-decoration: underline;"><strong>Sonic Speed trailer 480p</strong></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>