/* Footer Section */

ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.footer_area {
    padding: 60px 0 20px;
    position: relative;
    color: white;
    z-index: 100;
    background: black;
    word-break: break-all;
    word-wrap: break-word;
}

.single_ftr form {
    margin-top: 8px;
}

.single_ftr p {
    margin-bottom: 10px;
}

.sf_title {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: left;
}

.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}

.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}

.newsletter_form form {
    position: relative;
    display: block;
}

.newsletter_form {
    margin-top: 0px;
    overflow: hidden;
}

.single_ftr p {
    display: inline-block;
}

.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
    position: relative;
    background: transparent;
    color: white;
    border-radius: 0;
}

.newsletter_form button {
    border: inherit;
    border-radius: 0;
    background: transparent;
    color: white;
    text-transform: uppercase;
    box-shadow: none;
    border: 1px solid transparent;
    letter-spacing: 0.5px;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 12px 17px;
    transition: .5s;
}

.newsletter_form button:hover,
.newsletter_form button:hover {
    background: transparent;
    color: #33d286;
    opacity: .9;
}

.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1
}

.newsletter_form :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
    opacity: 1
}

.newsletter_form :-moz-placeholder {
    /* Firefox 18- */
    color: white;
    opacity: 1
}

.form-control {}

.form-control:focus {
    border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: white;
}

.single_ftr a {
    color: white;
}

.single_ftr a:hover {
    color: #33d286;
}

.ftr_social_icon li {
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
    transition: .5s;
}

.ftr_social_icon ul li a:hover {
    background: #33d286;
    border-color: #33d286;
    color: white;
}

.ftr_btm_area {
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dotted #888;
    margin-top: 28px;
    z-index: 100;
    position: relative;
}

.copyright_text {
    margin: 6px 0;
}