
<footer class="footer_area">
    <div class="container">
        <div class="row">				
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Contacts</h4>
                    <ul class="footer_list">
                        <li>ASSBIFI House,</li>
                        <li>Plot 4 ASSBIFI Road,</li>
                        <li>Central Business District,</li>
                        <li>Alausa, Ikeja. Lagos. Nigeria</li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Information</h4>
                    <ul class="footer_list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Services</h4>
                    <ul class="footer_list">
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Upcoming</a></li>
                        <li><a href="#">Top Rated</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->	
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Newsletter</h4>
                    <div class="newsletter_form">
                        <p>Subscribe to our newletters for more <br> updates on games and Videos</p>
                        <form method="post" class="form-inline">				
                            <input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control" type="email">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div> <!--  End Col -->
            
        </div>
    </div>


    <div class="ftr_btm_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ftr_social_icon">
                        <ul class="footer_list">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="copyright_text text-center">© 2021 All Rights Reserved Gameflex</p>
                </div>
                
               
            </div>
        </div>
    </div>
</footer>